body {
    background-color: rgb(98, 202, 188);

}

.paramlabel {
    width: 30px;
    float: left;
    margin-right: 10px;
}

.paramslider {
    width: 550px;
    float: left;
    text-align: center;
    padding: 1px;
    margin-right: 10px;
}

.paramindicator {
    width: 70px;
    float: left;
}

.clear {
    clear: both;
}

.plotcontainer {
    width: 95%;
    margin: 10px auto;
    border: 1px solid #333333;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
}

.controlcontainer {
    width: 95%;
    margin: auto;
    border: 1px solid #333333;
    border-radius: 10px;
    padding: 10px;
    background: #278c99;
}

.interfacecontaine {
    width: 350px;
}