table.distribution {
    width: 90%;
    border-top: 1px solid #e5eff8;
    border-right: 1px solid #e5eff8;
    margin: 1em auto;
    border-collapse: collapse;
}

table.distribution caption {
    color: #9ba9b4;
    font-size: .94em;
    letter-spacing: .1em;
    margin: 1em 0 0 0;
    padding: 0;
    caption-side: top;
    text-align: center;
}

table.distribution tr.odd td {
    background: #f7fbff
}

table.distribution tr.odd .column1 {
    background: #96b1cc;
}

table.distribution .column1 {
    background: #f9fcfe;
}

table.distribution td {
    /*color:#678197;*/
    color: black;
    border-bottom: 1px solid #e5eff8;
    border-left: 1px solid #e5eff8;
    padding: .3em 1em;
    text-align: center;
}

table.distribution th {
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-bottom: 1px solid #e5eff8;
    border-left: 1px solid #e5eff8;
    padding: .3em 1em;
}

table.distribution thead th {
    background: #99583e;
    text-align: center;
    border-radius: 10px;
    font: bold serif;
    color: #ffffff;
}

table.distribution tfoot th {
    text-align: center;
    background: #961313;
}

table.distribution tfoot th strong {
    font: serif;
    margin: .5em .5em .5em 0;
    color: #66a3d3;
}

table.distribution tfoot th em {
    color: #f03b58;
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}